/* default menu */
header {
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
  }
body{
    padding-top: 42px;
    text-align: center;
    margin: 0px;
}
/* header */
.main_header{
    top: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
    background-color: #d7d2d6;
    color: aliceblue;
    height: 50px;
    z-index: 10;
}
.main_header_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    height: 1.3rem;
    padding: 1rem 2rem;
}

.main_header_content .main_link {
    color: black;
}

.main_header_content .link {
    color: black;
    font-weight: bold;
}

.main_header_title{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    top: 50%;
    transform: translateY(-13.5%);
    margin-right: 230px;
}
.mainheader_navigation{
    display: flex;
    padding-right: 10px;
}
.mainheader_navigation .header_navigator{
    padding-right: 10px;
}
/* 팡데이터 */
.pangData{
    /* border: 1px solid black; */
    width: 100%;
    height: 860px;
    background: url("../img/cat.jpg") no-repeat;
    background-size: 100%;
    z-index: 9;
}
.pangTable{
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    right: 39%;
    text-align: center;
    margin-top: -110px;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
/* .pangTable.close {
    visibility: hidden;
} */

.pangVisualize{
    position: absolute;
    top: 50%;
    right: 36%;
    text-align: center;
    margin-top: -110px;
    color: #d7d2d6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
/* 팡테이블 */
table.type08 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-left: 1px solid #ccc;
    overflow-y: auto;
    height: 837px;
    width: 350px;
    display: block;
}
  
table.type08 thead th {
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #c00;
    background: #dcdcd1;
}
table.type08 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #ececec;
    color: black;
}
table.type08 tbody td{
    color: red;
}
table.type08 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}