<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>TiTle</title>
    <meta name="description" content="웹페이지.">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/list_css/list.css">
    <!-- <link rel="stylesheet" href="/cswebpage/static/css/default.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

</head> 
<body>
    <div id="main_location">
        <div id="root">
            <!-- header 고정 -->
            <header class="main_header">
                <div class="main_header_content">
                    <div class="main_header_title"><a href="#" class="main_link" style="text-decoration: none;">csWebSite</a></div>
                    <div class="mainheader_navigation">
                        <div class="header_navigator"><a href="#" class="link" style="text-decoration: none;">About</a></div>
                        <div class="header_navigator"><a href="#" class="link" style="text-decoration: none;">MySkils</a></div>
                        <div class="header_navigator"><a href="#" class="link" style="text-decoration: none;">ProJect</a></div>
                        <div class="header_navigator"><a href="#" class="link" style="text-decoration: none;">ConTact</a></div>
                        <div class="header_navigator"><a href="http://127.0.0.1:8000/study/sql/" class="link" style="text-decoration: none;">SQL</a></div>
                    </div>
                </div>
            </header>
            <article class="csWebData">
                <div class="swiper-container" style="height:100%">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <span class="csWebTable idle">mainPage_idle</span>
                            <span class="csWebTable close">mainPage_close</span>
                            <!-- <span class="pangTable" onclick="pangTable()">pangData테이블</span> -->
                        </div>
                        <div class="swiper-slide">
                            <span class="csVisualize"></span>
                            <!-- 코드 상속 부분 -->
                            <div class="btn-group">
                                <a href="http://localhost:8000/add/" class="btn btn-info">Add Bookmark</a>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">No<k/th>
                                        <th scope="col">Site</th>
                                        <th scope="col">Modify</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for info in object_list %}
                                    <!-- 규칙 : queryset일 경우 object_list, 1개인 경우 object -->
                                    <tr>
                                        <td>{{ forloop.counter }}</td> <!-- number -->
                                        <td>{{ info.site_name }}</td> <!-- bookmark 모델 인스턴스.필드(컬럼)명-->
                                        <td><a href="#" class="bnt btn-success btn-sm">Modify</a></td><br>
                                        <td><a href="#" class="bnt btn-danger btn-sm">Delete</a></td><br>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <!-- js -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/swiper.js"></script>
    <script src="../static/js/default.js"></script>

    <!-- <script src="/cswebpage/static/js/swiper.js"></script>
    <script src="/cswebpage/static/js/default.js"></script> -->
</body>
</html>