<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL</title>
</head>
<body>
    <h1 class="sql_class">sqlStudy</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No<k/th>
                <th scope="col">site_name</th>
                <th scope="col">Modify</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for info in object_list %}
            <!-- 규칙 : queryset일 경우 object_list, 1개인 경우 object -->
            <tr>
                <td>{{ forloop.counter }}</td> <!-- number -->
                <td>{{ info.site_name }}</td> <!-- bookmark 모델 인스턴스.필드(컬럼)명-->
                <td><a href="#" class="bnt btn-success btn-sm">Modify</a></td><br>
                <td><a href="#" class="bnt btn-danger btn-sm">Delete</a></td><br>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>